<!DOCTYPE html>
<!-- ✌(’ω’✌ )三✌(’ω’)✌三( ✌’ω’)✌ -->
<html>
  <head>
    <title>Catasuy</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div id="catasuy-name">Catasuy</div>
    <div id="catasuy-img"></div>
  </body>
  <% include _javascripts.ejs %>
</html>
